package uiDisplay

import uiToolset "github.com/goinfinite/ui/src/toolset"

const (
	HeaderIconPositionLeft string = "left"
	HeaderIconPositionTop  string = "top"

	HeaderIconPaddingSizeNone string = "none"
	HeaderIconPaddingSizeXs   string = "xs"
	HeaderIconPaddingSizeSm   string = "sm"
	HeaderIconPaddingSizeMd   string = "md"
	HeaderIconPaddingSizeLg   string = "lg"
	HeaderIconPaddingSizeXl   string = "xl"
)

type HeaderIconSettings struct {
	Name string

	// OptionalFields
	BackgroundColor string
	BorderRadius    string
	Color           string
	PaddingSize     string
}

templ HeaderIcon(componentSettings HeaderIconSettings) {
	{{ iconChipClasses := "ph-duotone inline-flex leading-none items-center justify-center " + componentSettings.Name }}
	{{ iconChipClasses += " " + uiToolset.TextColorClassResolver(componentSettings.Color, "") }}
	{{ iconChipClasses += " " + uiToolset.BackgroundColorClassResolver(componentSettings.BackgroundColor, "") }}
	{{ iconChipClasses += " " + uiToolset.CompactPaddingClassResolver(componentSettings.PaddingSize, "") }}
	{{ borderRadiusClass := uiToolset.BorderRadiusClassResolver(componentSettings.BorderRadius, "") }}
	if borderRadiusClass != "" {
		{{ iconChipClasses += " " + borderRadiusClass }}
	}
	<!-- HeaderIcon -->
	<i class={ iconChipClasses }></i>
}
