package uiDisplay

import (
	uiControl "github.com/goinfinite/ui/src/control"
	uiToolset "github.com/goinfinite/ui/src/toolset"
)

const (
	ModalSizeXs   string = "xs"
	ModalSizeSm   string = "sm"
	ModalSizeMd   string = "md"
	ModalSizeLg   string = "lg"
	ModalSizeXl   string = "xl"
	ModalSizeXxl  string = "xxl"
	ModalSizeFull string = "full"

	ModalBorderRadiusNone string = "none"
	ModalBorderRadiusXs   string = "xs"
	ModalBorderRadiusSm   string = "sm"
	ModalBorderRadiusMd   string = "md"
	ModalBorderRadiusLg   string = "lg"
	ModalBorderRadiusXl   string = "xl"

	ModalShadowSizeNone string = "none"
	ModalShadowSizeXs   string = "xs"
	ModalShadowSizeSm   string = "sm"
	ModalShadowSizeMd   string = "md"
	ModalShadowSizeLg   string = "lg"
	ModalShadowSizeXl   string = "xl"

	ModalRingThicknessXs string = "xs"
	ModalRingThicknessSm string = "sm"
	ModalRingThicknessMd string = "md"
	ModalRingThicknessLg string = "lg"
	ModalRingThicknessXl string = "xl"
)

type ModalSettings struct {
	MiddleContent templ.Component

	// OptionalFields
	Title                         string
	TitleOneWayStatePath          string
	HeaderContent                 templ.Component
	FooterContent                 templ.Component
	InitialSize                   string
	CurrentSizeTwoWayStatePath    string
	PossibleSizes                 []string
	WidthPercent                  int
	HeightPercent                 int
	MinWidthPercent               int
	MaxWidthPercent               int
	MinHeightPercent              int
	MaxHeightPercent              int
	ShouldHeightMatchContent      bool
	BackdropColor                 string
	BackgroundColor               string
	TextColor                     string
	BorderRadius                  string
	ShadowSize                    string
	RingColor                     string
	RingThickness                 string
	IsVisibleTwoWayStatePath      string
	IsUncloseable                 bool
	IsUnresizable                 bool
	IsMiddleContentScrollDisabled bool
	OnCloseFunc                   string
	OnResizeFunc                  string
}

type modalHeaderActionSettings struct {
	CanEnlargeExpression string
	CanReduceExpression  string
	CloseOnClickFunc     string
	EnlargeOnClickFunc   string
	IconSize             string
	ReduceOnClickFunc    string
}

templ modalHeaderActionButtons(settings modalHeaderActionSettings) {
	if settings.CanEnlargeExpression != "" || settings.CanReduceExpression != "" || settings.CloseOnClickFunc != "" {
		<div class="flex items-center gap-1">
			if settings.CanReduceExpression != "" {
				@uiControl.Button(uiControl.ButtonSettings{
					IconLeft:                 "ph-arrows-in",
					IsVisibleOneWayStatePath: settings.CanReduceExpression,
					OnClickFunc:              settings.ReduceOnClickFunc,
					Shape:                    uiControl.ButtonShapeCircular,
					Size:                     settings.IconSize,
				})
			}
			if settings.CanEnlargeExpression != "" {
				@uiControl.Button(uiControl.ButtonSettings{
					IconLeft:                 "ph-arrows-out",
					IsVisibleOneWayStatePath: settings.CanEnlargeExpression,
					OnClickFunc:              settings.EnlargeOnClickFunc,
					Shape:                    uiControl.ButtonShapeCircular,
					Size:                     settings.IconSize,
				})
			}
			if settings.CloseOnClickFunc != "" {
				@uiControl.Button(uiControl.ButtonSettings{
					IconLeft:    "ph-x",
					OnClickFunc: settings.CloseOnClickFunc,
					Size:        settings.IconSize,
					Shape:       uiControl.ButtonShapeCircular,
				})
			}
		</div>
	}
}

templ Modal(componentSettings ModalSettings) {
	<!-- Modal Backdrop -->
	{{ backdropClasses := "fixed inset-0 z-100 flex items-center justify-center" }}
	{{ backdropBackgroundColor := uiToolset.BackgroundColorClassResolver(componentSettings.BackdropColor, "bg-neutral-900/75") }}
	{{ backdropClasses += " " + backdropBackgroundColor }}
	<!-- Modal Container Classes -->
	{{ modalClasses := "relative flex flex-col gap-4 transition-all duration-300" }}
	{{ backgroundColor := uiToolset.BackgroundColorClassResolver(componentSettings.BackgroundColor, "bg-primary-900") }}
	{{ textColor := uiToolset.TextColorClassResolver(componentSettings.TextColor, "text-neutral-50") }}
	{{ modalClasses += " " + backgroundColor + " " + textColor }}
	<!-- Modal Size -->
	{{
		possibleSizes := modalPossibleSizesResolver(componentSettings.PossibleSizes)
		componentSettings.InitialSize = modalInitialSizeResolver(
			componentSettings.InitialSize, possibleSizes,
		)
		reachableSizes := modalReachableSizesResolver(componentSettings.InitialSize, possibleSizes)
		modalSizeClasses := modalSizeClassesResolver(
			componentSettings.InitialSize,
			componentSettings.WidthPercent,
			componentSettings.HeightPercent,
			componentSettings.ShouldHeightMatchContent,
		)
		modalStandardHeaderTitleSize := "text-lg"
		modalStandardHeaderIconSize := uiControl.ButtonSizeSm
	}}
	switch componentSettings.InitialSize {
		case ModalSizeLg:
			{{
				modalStandardHeaderTitleSize = "text-xl"
				modalStandardHeaderIconSize = uiControl.ButtonSizeMd
			}}
		case ModalSizeXl:
			{{
				modalStandardHeaderTitleSize = "text-2xl"
				modalStandardHeaderIconSize = uiControl.ButtonSizeMd
			}}
		case ModalSizeXxl:
			{{
				modalStandardHeaderTitleSize = "text-3xl"
				modalStandardHeaderIconSize = uiControl.ButtonSizeMd
			}}
		case ModalSizeFull:
			{{
				modalStandardHeaderTitleSize = "text-3xl"
				modalStandardHeaderIconSize = uiControl.ButtonSizeMd
			}}
	}
	{{ modalClasses += " " + modalSizeClasses }}
	<!-- Modal Size Constraints -->
	{{
		modalClasses += " " + modalSizeConstraintClassesResolver(
			componentSettings.MinWidthPercent,
			componentSettings.MaxWidthPercent,
			componentSettings.MinHeightPercent,
			componentSettings.MaxHeightPercent,
			componentSettings.ShouldHeightMatchContent,
		)
	}}
	<!-- Modal Border Radius -->
	{{ modalClasses += " " + uiToolset.BorderRadiusClassResolver(componentSettings.BorderRadius, "rounded") }}
	<!-- Modal Shadow -->
	{{ modalClasses += " " + uiToolset.ShadowClassResolver(componentSettings.ShadowSize, "shadow-md") }}
	<!-- Modal Ring -->
	{{ modalClasses += " " + uiToolset.RingClassResolver(componentSettings.RingColor, componentSettings.RingThickness) }}
	<!-- Modal HTML -->
	<div
		class={ backdropClasses }
		if componentSettings.IsVisibleTwoWayStatePath != "" {
			x-show={ componentSettings.IsVisibleTwoWayStatePath }
		}
		x-transition
		x-cloak
		un-cloak
		if componentSettings.IsVisibleTwoWayStatePath != "" && !componentSettings.IsUncloseable {
			@mousedown.self={ componentSettings.IsVisibleTwoWayStatePath + " = false;" + componentSettings.OnCloseFunc }
		}
	>
		{{ modalInternalState := "" }}
		{{
			isResizable := modalIsResizableResolver(
				componentSettings.IsUnresizable,
				componentSettings.WidthPercent,
				componentSettings.HeightPercent,
				reachableSizes,
			)
		}}
		if componentSettings.CurrentSizeTwoWayStatePath == "" && isResizable {
			{{
				modalInternalState = "{ modalSize: '" + componentSettings.InitialSize + "' }"
				componentSettings.CurrentSizeTwoWayStatePath = "modalSize"
			}}
		}
		{{ canEnlargeExpression := "" }}
		{{ canReduceExpression := "" }}
		{{ enlargeOnClickFunc := "" }}
		{{ reduceOnClickFunc := "" }}
		if isResizable {
			{{
				canEnlargeExpression = modalCanEnlargeExpressionBuilder(
					componentSettings.CurrentSizeTwoWayStatePath, reachableSizes,
				)
				canReduceExpression = modalCanReduceExpressionBuilder(
					componentSettings.CurrentSizeTwoWayStatePath, reachableSizes,
				)
				enlargeOnClickFunc = modalEnlargeExpressionBuilder(
					componentSettings.CurrentSizeTwoWayStatePath, reachableSizes,
				) + ";" + componentSettings.OnResizeFunc
				reduceOnClickFunc = modalReduceExpressionBuilder(
					componentSettings.CurrentSizeTwoWayStatePath, reachableSizes,
				) + ";" + componentSettings.OnResizeFunc
			}}
		}
		{{ closeOnClickFunc := "" }}
		if componentSettings.IsVisibleTwoWayStatePath != "" && !componentSettings.IsUncloseable {
			{{ closeOnClickFunc = componentSettings.IsVisibleTwoWayStatePath + " = false;" + componentSettings.OnCloseFunc }}
		}
		{{
			headerActions := modalHeaderActionSettings{
				CanEnlargeExpression: canEnlargeExpression,
				CanReduceExpression:  canReduceExpression,
				CloseOnClickFunc:     closeOnClickFunc,
				EnlargeOnClickFunc:   enlargeOnClickFunc,
				IconSize:             modalStandardHeaderIconSize,
				ReduceOnClickFunc:    reduceOnClickFunc,
			}
		}}
		<div
			if modalInternalState != "" {
				x-data={ modalInternalState }
			}
			class={ modalClasses }
			if componentSettings.CurrentSizeTwoWayStatePath != "" {
				:class={ modalSizeClassMapExpressionBuilder(
					componentSettings.CurrentSizeTwoWayStatePath,
					componentSettings.WidthPercent,
					componentSettings.HeightPercent,
					componentSettings.ShouldHeightMatchContent,
				) }
			}
		>
			{{ middleContentClasses := "flex-1 overflow-y-auto" }}
			if componentSettings.IsMiddleContentScrollDisabled {
				{{ middleContentClasses = "flex-1 min-h-0 overflow-hidden" }}
			}
			if componentSettings.HeaderContent != nil {
				<!-- ModalCustomHeader -->
				<div class="relative flex items-start justify-between gap-4">
					<div class="grow">
						{{ wasCustomHeaderTitleSet := componentSettings.Title != "" || componentSettings.TitleOneWayStatePath != "" }}
						if wasCustomHeaderTitleSet {
							<h2
								class="sr-only"
								if componentSettings.TitleOneWayStatePath != "" {
									x-text={ componentSettings.TitleOneWayStatePath }
								}
							>
								{ componentSettings.Title }
							</h2>
						}
						@componentSettings.HeaderContent
					</div>
					<div class="absolute right-0 top-0">
						@modalHeaderActionButtons(headerActions)
					</div>
				</div>
			}
			{{ wasTitleSet := componentSettings.Title != "" || componentSettings.TitleOneWayStatePath != "" }}
			if componentSettings.HeaderContent == nil && wasTitleSet {
				<!-- ModalStandardHeader -->
				<div class="flex items-center justify-between border-b border-neutral-50/10 pb-2.5">
					<h2
						class={ modalStandardHeaderTitleSize + " font-bold" }
						if componentSettings.TitleOneWayStatePath != "" {
							x-text={ componentSettings.TitleOneWayStatePath }
						}
					>
						{ componentSettings.Title }
					</h2>
					@modalHeaderActionButtons(headerActions)
				</div>
			}
			<!-- ModalMiddleContent -->
			<div class={ middleContentClasses }>
				@componentSettings.MiddleContent
			</div>
			if componentSettings.FooterContent != nil {
				<!-- ModalCustomFooter -->
				@componentSettings.FooterContent
			}
		</div>
	</div>
}
