package uiDisplay

import (
	_ "embed"
	"github.com/goinfinite/ui/src/toolset"
	"strconv"
)

const (
	ToastSizeXs string = "xs"
	ToastSizeSm string = "sm"
	ToastSizeMd string = "md"
	ToastSizeLg string = "lg"

	ToastAutoDismissSecondsDefault int = 10
)

//go:embed toastState.js
var toastAlpineState string

var toastAlpineStateOnce = templ.NewOnceHandle(
	templ.WithComponent(uiToolset.MinifierTemplateJs(&toastAlpineState)),
)

type ToastSettings struct {
	// OptionalFields
	BackgroundColor    string
	TextColor          string
	Size               string
	RingThickness      string
	RingColor          string
	Radius             string
	AutoDismissSeconds int
}

templ Toast(componentSettings ToastSettings) {
	<!-- Toast JavaScript -->
	@toastAlpineStateOnce.Once()
	<!-- Toast HTML -->
	{{ autoDismissSeconds := ToastAutoDismissSecondsDefault }}
	if componentSettings.AutoDismissSeconds > 0 {
		{{ autoDismissSeconds = componentSettings.AutoDismissSeconds }}
	}
	{{ autoDismissMilliseconds := strconv.Itoa(autoDismissSeconds * 1000) }}
	{{ toastClasses := "fixed bottom-5 right-10 flex w-fit flex-row items-center justify-stretch shadow-md z-100" }}
	{{ toastIconSizeClasses := "text-2xl" }}
	if componentSettings.Size == "" {
		{{ componentSettings.Size = ToastSizeMd }}
	}
	switch componentSettings.Size {
		case ToastSizeXs:
			{{ toastClasses += " p-1 text-xs gap-1.5" }}
			{{ toastIconSizeClasses = "text-lg" }}
		case ToastSizeSm:
			{{ toastClasses += " p-1.5 text-sm gap-2" }}
			{{ toastIconSizeClasses = "text-xl" }}
		case ToastSizeMd:
			{{ toastClasses += " p-2 text-base gap-2.5" }}
			{{ toastIconSizeClasses = "text-2xl" }}
		case ToastSizeLg:
			{{ toastClasses += " p-2.5 text-lg gap-3" }}
			{{ toastIconSizeClasses = "text-3xl" }}
	}
	{{ toastRingThickness := uiToolset.RingThicknessClassResolver(componentSettings.RingThickness, "ring-2") }}
	{{ toastHasExplicitRingColor := componentSettings.RingColor != "" }}
	{{ toastRingColor := "" }}
	if toastHasExplicitRingColor {
		{{ toastRingColor = " ring-" + componentSettings.RingColor }}
	}
	{{ toastRadius := uiToolset.BorderRadiusClassResolver(componentSettings.Radius, "rounded") }}
	{{ toastClasses += " " + toastRingThickness + toastRingColor + " " + toastRadius }}
	{{ toastClasses += " " + uiToolset.BackgroundColorClassResolver(componentSettings.BackgroundColor, "bg-neutral-800/90") }}
	{{ toastTextColor := uiToolset.TextColorClassResolver(componentSettings.TextColor, "text-neutral-50") }}
	{{ toastClasses += " " + toastTextColor }}
	<div
		id="toast"
		class={ toastClasses }
		if !toastHasExplicitRingColor {
			:class="$store.toast.toastTypeRingClass"
		}
		x-data
		x-show="$store.toast.toastVisible"
		x-transition
		x-cloak
		un-cloak
		x-init={ "$store.toast.displayDurationMs = " + autoDismissMilliseconds }
		role="alert"
	>
		{{ toastIconClasses := "ph-duotone rounded p-2 " + toastIconSizeClasses }}
		<i x-show="$store.toast.toastType == 'success'" class={ "ph-seal-check bg-green-800 " + toastIconClasses }></i>
		<i x-show="$store.toast.toastType == 'partialSuccess'" class={ "ph-seal-warning bg-yellow-800 " + toastIconClasses }></i>
		<i x-show="$store.toast.toastType == 'danger'" class={ "ph-warning-octagon bg-red-800 " + toastIconClasses }></i>
		<div x-text="$store.toast.toastMessage"></div>
		<i
			@click="$store.toast.clearToast()"
			class="ph-bold ph-x cursor-pointer rounded p-1 text-xs hover:opacity-75"
		></i>
	</div>
}
