package uiControl

import (
	"fmt"
	"sync/atomic"

	uiToolset "github.com/goinfinite/ui/src/toolset"
)

var buttonTooltipIdCounter atomic.Uint64

func generateButtonTooltipId() string {
	return fmt.Sprintf("button-tooltip-%d", buttonTooltipIdCounter.Add(1))
}

const (
	ButtonSizeXs string = "xs"
	ButtonSizeSm string = "sm"
	ButtonSizeMd string = "md"
	ButtonSizeLg string = "lg"
	ButtonSizeXl string = "xl"

	ButtonShapeCircular string = "circular"
	ButtonShapeRounded  string = "rounded"
	ButtonShapeSquare   string = "square"

	ButtonRingThicknessXs string = "xs"
	ButtonRingThicknessSm string = "sm"
	ButtonRingThicknessMd string = "md"
	ButtonRingThicknessLg string = "lg"
	ButtonRingThicknessXl string = "xl"
)

type ButtonSettings struct {
	// OptionalFields
	Label                         string
	AriaLabel                     string
	BackgroundColor               string
	BackgroundColorHover          string
	IconLeft                      string
	IconLeftOneWayStatePath       string
	IconRight                     string
	IconRightOneWayStatePath      string
	Id                            string
	IsDisabled                    bool
	IsDisabledOneWayStatePath     string
	IsVisibleOneWayStatePath      string
	IsFullWidth                   bool
	IsSubmit                      bool
	OnClickFunc                   string
	OnClickPreventDefault         bool
	Shape                         string
	Size                          string
	TextCase                      string
	TextColor                     string
	TextColorHover                string
	TooltipContent                string
	TooltipContentHtml            templ.Component
	TooltipContentOneWayStatePath string
	TooltipBackgroundColor        string
	TooltipPosition               string
	TooltipRingColor              string
	TooltipRingThickness          string
	TooltipTextColor              string
	TooltipMinWidthClass          string
	TooltipMaxWidthClass          string
	TooltipMinHeightClass         string
	TooltipMaxHeightClass         string
	RingColor                     string
	RingColorHover                string
	RingThickness                 string
}

templ Button(componentSettings ButtonSettings) {
	<!-- Button -->
	{{ buttonWidth := "w-fit" }}
	if componentSettings.IsFullWidth {
		{{ buttonWidth = "w-full" }}
	}
	{{ hasTooltip := componentSettings.TooltipContent != "" || componentSettings.TooltipContentHtml != nil || componentSettings.TooltipContentOneWayStatePath != "" }}
	{{ tooltipId := "" }}
	if hasTooltip {
		@uiToolset.TooltipAlpineStateOnce.Once()
		{{ tooltipId = generateButtonTooltipId() }}
	}
	<div
		class={ "relative " + buttonWidth }
		if hasTooltip {
			x-data={ templ.JSFuncCall("tooltip", componentSettings.TooltipPosition) }
			@mouseenter="showTooltip()"
			@mouseleave="hideTooltip()"
			@focusin="showTooltip()"
			@focusout="hideTooltip()"
		}
	>
		{{ backgroundColor := "bg-neutral-50/7.5" }}
		if componentSettings.BackgroundColor != "" {
			{{ backgroundColor = "bg-" + componentSettings.BackgroundColor }}
		}
		{{ backgroundHoverColor := "hover:bg-neutral-50/12.5" }}
		if componentSettings.BackgroundColorHover != "" {
			{{ backgroundHoverColor = "hover:bg-" + componentSettings.BackgroundColorHover }}
		}
		{{ backgroundSize := "p-2 text-base gap-1" }}
		switch componentSettings.Size {
			case ButtonSizeXs:
				{{ backgroundSize = "p-1 text-xs gap-0.5" }}
			case ButtonSizeSm:
				{{ backgroundSize = "p-1.5 text-sm gap-0.75" }}
			case ButtonSizeMd:
				{{ backgroundSize = "p-2 text-base gap-1" }}
			case ButtonSizeLg:
				{{ backgroundSize = "p-2.5 text-lg gap-1.25" }}
			case ButtonSizeXl:
				{{ backgroundSize = "p-3 text-xl gap-1.5" }}
		}
		if componentSettings.Label != "" {
			switch componentSettings.Size {
				case ButtonSizeXs:
					{{ backgroundSize += " py-1.5" }}
				case ButtonSizeSm:
					{{ backgroundSize += " py-2" }}
				case ButtonSizeMd:
					{{ backgroundSize += " py-2.5" }}
				case ButtonSizeLg:
					{{ backgroundSize += " py-3" }}
				case ButtonSizeXl:
					{{ backgroundSize += " py-3.5" }}
				default:
					{{ backgroundSize += " py-2.5" }}
			}
		}
		{{ backgroundClasses := backgroundColor + " " + backgroundHoverColor + " " + backgroundSize }}
		{{ textColor := "text-neutral-50" }}
		if componentSettings.TextColor != "" {
			{{ textColor = "text-" + componentSettings.TextColor }}
		}
		{{ textColorHover := "hover:text-neutral-50" }}
		if componentSettings.TextColorHover != "" {
			{{ textColorHover = "hover:text-" + componentSettings.TextColorHover }}
		}
		{{ textCaseClass := uiToolset.TextCaseClassResolver(componentSettings.TextCase) }}
		{{ ringClasses := "" }}
		{{ ringThicknessClass := uiToolset.RingThicknessClassResolver(componentSettings.RingThickness, "ring-1.5") }}
		if componentSettings.RingColor != "" {
			{{ ringClasses = ringThicknessClass + " ring-" + componentSettings.RingColor }}
		}
		if componentSettings.RingColorHover != "" {
			{{ ringClasses += " hover:ring-" + componentSettings.RingColorHover }}
		}
		{{ radiusRoundness := uiToolset.ShapeClassResolver(componentSettings.Shape, "rounded") }}
		{{ iconSize := "text-base" }}
		switch componentSettings.Size {
			case ButtonSizeXs:
				{{ iconSize = "text-base" }}
			case ButtonSizeSm:
				{{ iconSize = "text-base" }}
			case ButtonSizeMd:
				{{ iconSize = "text-lg" }}
			case ButtonSizeLg:
				{{ iconSize = "text-xl" }}
			case ButtonSizeXl:
				{{ iconSize = "text-2xl" }}
		}
		{{ buttonClasses := buttonWidth + " " + backgroundClasses + " " + textColor + " " + textColorHover + " " + radiusRoundness + " " + ringClasses + " justify-center items-center text-center font-bold flex flex-row leading-none transition-all" }}
		if textCaseClass != "" {
			{{ buttonClasses += " " + textCaseClass }}
		}
		{{ disabledClasses := "opacity-50 cursor-not-allowed pointer-events-none" }}
		if componentSettings.IsDisabled {
			{{ buttonClasses += " " + disabledClasses }}
		}
		{{ buttonType := "button" }}
		if componentSettings.IsSubmit {
			{{ buttonType = "submit" }}
		}
		<button
			type={ buttonType }
			if hasTooltip {
				x-ref="trigger"
				aria-describedby={ tooltipId }
			}
			if componentSettings.Id != "" {
				id={ componentSettings.Id }
			}
			if componentSettings.AriaLabel != "" {
				aria-label={ componentSettings.AriaLabel }
			}
			if componentSettings.OnClickFunc != "" && !componentSettings.IsDisabled {
				if componentSettings.OnClickPreventDefault {
					@click.prevent={ componentSettings.OnClickFunc }
				} else {
					@click={ componentSettings.OnClickFunc }
				}
			}
			if componentSettings.IsDisabled {
				disabled
			}
			if componentSettings.IsDisabledOneWayStatePath != "" {
				:disabled={ componentSettings.IsDisabledOneWayStatePath }
			}
			if componentSettings.IsVisibleOneWayStatePath != "" {
				x-show={ componentSettings.IsVisibleOneWayStatePath }
			}
			class={ buttonClasses }
			if componentSettings.IsDisabledOneWayStatePath != "" {
				:class={ "(" + componentSettings.IsDisabledOneWayStatePath + ") && '" + disabledClasses + "'" }
			}
		>
			if componentSettings.IconLeft != "" {
				<i class={ "ph-bold " + componentSettings.IconLeft + " " + iconSize }></i>
			}
			if componentSettings.IconLeftOneWayStatePath != "" {
				<i class={ "ph-bold " + iconSize } :class={ componentSettings.IconLeftOneWayStatePath }></i>
			}
			if componentSettings.Label != "" {
				{ componentSettings.Label }
			}
			if componentSettings.IconRight != "" {
				<i class={ "ph-bold " + componentSettings.IconRight + " " + iconSize }></i>
			}
			if componentSettings.IconRightOneWayStatePath != "" {
				<i class={ "ph-bold " + iconSize } :class={ componentSettings.IconRightOneWayStatePath }></i>
			}
		</button>
		if hasTooltip {
			{{
				tooltipSurfaceClasses := uiToolset.TooltipSurfaceClassesResolver(
					uiToolset.TooltipSurfaceSettings{
						BackgroundColor: componentSettings.TooltipBackgroundColor,
						TextColor:       componentSettings.TooltipTextColor,
						RingColor:       componentSettings.TooltipRingColor,
						RingThickness:   componentSettings.TooltipRingThickness,
						MinWidthClass:   componentSettings.TooltipMinWidthClass,
						MaxWidthClass:   componentSettings.TooltipMaxWidthClass,
						MinHeightClass:  componentSettings.TooltipMinHeightClass,
						MaxHeightClass:  componentSettings.TooltipMaxHeightClass,
					},
				)
			}}
			<template x-teleport="body">
				<div
					x-ref="tooltip"
					id={ tooltipId }
					role="tooltip"
					:style="resolvedTooltipStyle"
					class={ tooltipSurfaceClasses }
					if componentSettings.TooltipContentOneWayStatePath != "" {
						x-text={ componentSettings.TooltipContentOneWayStatePath }
					}
				>
					if componentSettings.TooltipContent != "" {
						{ componentSettings.TooltipContent }
					}
					if componentSettings.TooltipContentHtml != nil {
						@componentSettings.TooltipContentHtml
					}
				</div>
			</template>
		}
	</div>
}
