package uiForm

import uiToolset "github.com/goinfinite/ui/src/toolset"

const (
	InlineRadioGroupOrientationHorizontal string = "horizontal"
	InlineRadioGroupOrientationVertical   string = "vertical"
)

type InlineRadioGroupSettings struct {
	Label         string
	InputSettings []RadioInputSettings

	// OptionalFields
	Orientation     string
	TwoWayStatePath string
	InputId         string
	InputName       string
	TextCase        string
}

func inlineRadioGroupContentClassesResolver(orientation string) string {
	if orientation == InlineRadioGroupOrientationVertical {
		return "flex min-h-8 flex-col items-start gap-2 p-1.5"
	}
	return "flex min-h-8 flex-row items-center gap-2 p-1.5"
}

templ InlineRadioGroup(componentSettings InlineRadioGroupSettings) {
	<!-- InlineRadioGroup -->
	{{ legendClasses := "ml-1 select-none px-1 text-xs font-bold leading-none text-neutral-50/80 " + uiToolset.TextCaseClassResolver(componentSettings.TextCase) }}
	{{ contentClasses := inlineRadioGroupContentClassesResolver(componentSettings.Orientation) }}
	<div class="flex w-full flex-col">
		<fieldset class="bg-neutral-50/7.5 relative -mt-1.5 w-full rounded border border-neutral-50/5 transition-colors focus-within:border-neutral-50/30 hover:border-neutral-50/30">
			<legend class={ legendClasses }>
				{ componentSettings.Label }
			</legend>
			if componentSettings.InputName != "" && componentSettings.TwoWayStatePath != "" {
				<input
					type="hidden"
					if componentSettings.InputId != "" {
						id={ componentSettings.InputId }
					}
					if componentSettings.InputName != "" {
						name={ componentSettings.InputName }
					}
					if componentSettings.TwoWayStatePath != "" {
						x-model:value={ componentSettings.TwoWayStatePath }
					}
				/>
			}
			<div class={ contentClasses }>
				for _, inputSettings := range componentSettings.InputSettings {
					@RadioInput(inputSettings)
				}
			</div>
		</fieldset>
	</div>
}
