package uiForm

import (
	"strconv"

	uiToolset "github.com/goinfinite/ui/src/toolset"
)

const (
	InputTypeColor    string = "color"
	InputTypeDate     string = "date"
	InputTypeEmail    string = "email"
	InputTypeHidden   string = "hidden"
	InputTypeMonth    string = "month"
	InputTypeNumber   string = "number"
	InputTypePassword string = "password"
	InputTypeTel      string = "tel"
	InputTypeText     string = "text"
	InputTypeTime     string = "time"
	InputTypeUrl      string = "url"

	InputFieldSizeXs string = "xs"
	InputFieldSizeSm string = "sm"
	InputFieldSizeMd string = "md"
	InputFieldSizeLg string = "lg"
	InputFieldSizeXl string = "xl"
)

type inputFieldSizeTokens struct {
	AffixPadding   string
	InputPadding   string
	LabelOffset    string
	LegendTextSize string
	TextSize       string
}

func inputFieldSizeTokensResolver(size string) inputFieldSizeTokens {
	switch size {
	case InputFieldSizeXs:
		return inputFieldSizeTokens{
			AffixPadding:   "p-1",
			InputPadding:   "p-1 pt-0",
			LabelOffset:    "0.5",
			LegendTextSize: "text-[0.625rem]",
			TextSize:       "text-xs",
		}
	case InputFieldSizeSm:
		return inputFieldSizeTokens{
			AffixPadding:   "p-1.5",
			InputPadding:   "p-1.5 pt-0",
			LabelOffset:    "1",
			LegendTextSize: "text-[0.625rem]",
			TextSize:       "text-xs",
		}
	case InputFieldSizeLg:
		return inputFieldSizeTokens{
			AffixPadding:   "p-2",
			InputPadding:   "p-2 pt-0",
			LabelOffset:    "2",
			LegendTextSize: "text-sm",
			TextSize:       "text-base",
		}
	case InputFieldSizeXl:
		return inputFieldSizeTokens{
			AffixPadding:   "p-2.5",
			InputPadding:   "p-2.5 pt-0",
			LabelOffset:    "2.5",
			LegendTextSize: "text-base",
			TextSize:       "text-lg",
		}
	}
	return inputFieldSizeTokens{
		AffixPadding:   "p-1.5",
		InputPadding:   "p-1.5 pt-0",
		LabelOffset:    "1.5",
		LegendTextSize: "text-xs",
		TextSize:       "text-sm",
	}
}

type InputFieldSettings struct {
	InputType string
	InputName string
	Label     string

	// OptionalFields
	TwoWayStatePath                   string
	Value                             string
	AffixLeftValue                    string
	AffixLeftStatePath                string
	AffixLeftWidthPercent             uint
	AffixRightValue                   string
	AffixRightStatePath               string
	AffixRightWidthPercent            uint
	InputId                           string
	InputNumberMin                    string
	InputNumberMax                    string
	InputNumberStep                   string
	IsRequired                        bool
	IsReadOnly                        bool
	TextCase                          string
	HintValue                         string
	HintStatePath                     string
	HintDisplay                       string
	HintDisplayTooltipBackgroundColor string
	HintIconStyle                     string
	Size                              string
}

templ InputField(componentSettings InputFieldSettings) {
	<!-- InputField -->
	{{ sizeTokens := inputFieldSizeTokensResolver(componentSettings.Size) }}
	{{ textCaseClass := uiToolset.TextCaseClassResolver(componentSettings.TextCase) }}
	{{ legendClasses := "ml-1 select-none px-1 font-bold leading-none text-neutral-50/80 " + sizeTokens.LegendTextSize }}
	if textCaseClass != "" {
		{{ legendClasses += " " + textCaseClass }}
	}
	<div class="flex w-full flex-col">
		<fieldset
			class={ "bg-neutral-50/7.5 relative -mt-" + sizeTokens.LabelOffset + " w-full rounded border border-neutral-50/5 transition-colors autofill:bg-neutral-50/20 focus-within:border-neutral-50/30 hover:border-neutral-50/30" }
			if componentSettings.TwoWayStatePath != "" {
				:class={ `!` + componentSettings.TwoWayStatePath + ` && 'mt-0'` }
			}
		>
			<legend
				class={ legendClasses }
				if componentSettings.TwoWayStatePath != "" {
					:class={ `!` + componentSettings.TwoWayStatePath + ` && 'hidden'` }
				}
			>
				{ componentSettings.Label }
				if componentSettings.IsRequired {
					<span class="text-red-700">*</span>
				}
			</legend>
			<div class="flex items-center">
				if componentSettings.AffixLeftValue != "" || componentSettings.AffixLeftStatePath != "" {
					<!-- LeftAffix -->
					{{ leftAffixClasses := "shrink-0 truncate rounded-l border-r border-neutral-50/5 bg-neutral-50/5 text-neutral-400 " + sizeTokens.AffixPadding + " " + sizeTokens.TextSize }}
					if componentSettings.AffixLeftWidthPercent == 0 {
						{{ leftAffixClasses += " max-w-[50%]" }}
					}
					<div
						class={ leftAffixClasses }
						if componentSettings.AffixLeftWidthPercent > 0 {
							style={ "width:" + strconv.FormatUint(uint64(componentSettings.AffixLeftWidthPercent), 10) + "%" }
						}
						if componentSettings.TwoWayStatePath != "" {
							:class={ componentSettings.TwoWayStatePath + ` && '-mt-` + sizeTokens.LabelOffset + `'` }
						}
						if componentSettings.AffixLeftStatePath != "" {
							x-text={ componentSettings.AffixLeftStatePath }
						}
					>
						if componentSettings.AffixLeftValue != "" {
							{ componentSettings.AffixLeftValue }
						}
					</div>
				}
				{{ inputClasses := "w-full min-w-0 bg-transparent placeholder-text-neutral-50 placeholder-text-opacity-80 outline-none focus:outline-none peer " + sizeTokens.InputPadding + " " + sizeTokens.TextSize }}
				if textCaseClass != "" {
					{{ inputClasses += " placeholder:" + textCaseClass }}
				}
				if componentSettings.IsReadOnly {
					{{ inputClasses += " text-neutral-400 cursor-not-allowed" }}
				} else {
					{{ inputClasses += " text-neutral-100" }}
				}
				<input
					type={ componentSettings.InputType }
					if componentSettings.Label != "" {
						aria-label={ componentSettings.Label }
					}
					if componentSettings.InputNumberMin != "" {
						min={ componentSettings.InputNumberMin }
					}
					if componentSettings.InputNumberMax != "" {
						max={ componentSettings.InputNumberMax }
					}
					if componentSettings.InputNumberStep != "" {
						step={ componentSettings.InputNumberStep }
					}
					if componentSettings.InputId != "" {
						id={ componentSettings.InputId }
					}
					if componentSettings.InputName != "" {
						name={ componentSettings.InputName }
					}
					if componentSettings.TwoWayStatePath != "" {
						x-model:value={ componentSettings.TwoWayStatePath }
					}
					if componentSettings.Value != "" {
						value={ componentSettings.Value }
					}
					if componentSettings.Label != "" {
						placeholder={ componentSettings.Label }
					}
					if componentSettings.IsRequired {
						required
					}
					class={ inputClasses }
					if componentSettings.TwoWayStatePath != "" {
						:class={ `!` + componentSettings.TwoWayStatePath + ` && 'pt-` + sizeTokens.LabelOffset + `'` }
					}
					if componentSettings.IsReadOnly {
						readonly
					}
				/>
				if componentSettings.AffixRightValue != "" || componentSettings.AffixRightStatePath != "" {
					<!-- RightAffix -->
					{{ rightAffixClasses := "shrink-0 truncate rounded-r border-l border-neutral-50/5 bg-neutral-50/5 text-neutral-400 " + sizeTokens.AffixPadding + " " + sizeTokens.TextSize }}
					if componentSettings.AffixRightWidthPercent == 0 {
						{{ rightAffixClasses += " max-w-[50%]" }}
					}
					<div
						class={ rightAffixClasses }
						if componentSettings.AffixRightWidthPercent > 0 {
							style={ "width:" + strconv.FormatUint(uint64(componentSettings.AffixRightWidthPercent), 10) + "%" }
						}
						if componentSettings.TwoWayStatePath != "" {
							:class={ componentSettings.TwoWayStatePath + ` && '-mt-` + sizeTokens.LabelOffset + `'` }
						}
						if componentSettings.AffixRightStatePath != "" {
							x-text={ componentSettings.AffixRightStatePath }
						}
					>
						if componentSettings.AffixRightValue != "" {
							{ componentSettings.AffixRightValue }
						}
					</div>
				}
				if shouldRenderInputHintTooltip(componentSettings.HintDisplay, componentSettings.HintValue, componentSettings.HintStatePath) {
					<span class="flex items-center self-center">
						@InputHintTooltip(InputHintSettings{
							Value:                  componentSettings.HintValue,
							StatePath:              componentSettings.HintStatePath,
							TooltipBackgroundColor: componentSettings.HintDisplayTooltipBackgroundColor,
							Size:                   InputHintSizeSm,
							IconStyle:              componentSettings.HintIconStyle,
						})
					</span>
				}
			</div>
		</fieldset>
		if shouldRenderInputHintDescription(componentSettings.HintDisplay) {
			@InputHintDescription(InputHintSettings{
				Value:     componentSettings.HintValue,
				StatePath: componentSettings.HintStatePath,
			})
		}
	</div>
}
