package uiForm

import (
	_ "embed"
	"github.com/goinfinite/ui/src/toolset"
)

//go:embed multiSelectInputState.js
var multiSelectInputAlpineState string

templ multiSelectInputOptionCheckbox(
	inputIdPrefix, inputName, optionValue, selectedItemsStatePath, onChangeFunc string,
) {
	<span class="relative ml-auto inline-flex h-4 w-4 shrink-0 items-center justify-center">
		<input
			type="checkbox"
			if inputIdPrefix != "" {
				id={ inputIdPrefix + "-" + optionValue }
			}
			if inputName != "" {
				name={ inputName }
			}
			value={ optionValue }
			x-model={ selectedItemsStatePath }
			if onChangeFunc != "" {
				@change={ onChangeFunc }
			}
			class="peer absolute inset-0 h-full w-full cursor-pointer opacity-0"
		/>
		<span class="flex h-4 w-4 items-center justify-center rounded border-2 border-neutral-50/20 text-transparent transition-colors peer-checked:border-secondary-500 peer-checked:text-secondary-500 peer-focus-visible:ring-2 peer-focus-visible:ring-secondary-500">
			<i class="ph-bold ph-check text-[0.625rem]"></i>
		</span>
	</span>
}

type MultiSelectInputSettings struct {
	InputName string
	Label     string

	// OptionalFields
	FlatOptions                       []string
	LabelValueOptions                 []SelectLabelValueOption
	TwoWayStatePath                   string
	InputId                           string
	IsRequired                        bool
	OnChangeFunc                      string
	DropdownBackgroundColor           string
	TextCase                          string
	HintValue                         string
	HintStatePath                     string
	HintDisplay                       string
	HintDisplayTooltipBackgroundColor string
	HintIconStyle                     string
}

templ MultiSelectInput(componentSettings MultiSelectInputSettings) {
	<!-- MultiSelectInput JavaScript -->
	@uiToolset.MinifierTemplateJs(&multiSelectInputAlpineState)
	<!-- MultiSelectInput HTML -->
	{{ selectedItemsStatePath := "selectedItems" }}
	if componentSettings.TwoWayStatePath != "" {
		{{ selectedItemsStatePath = componentSettings.TwoWayStatePath }}
	}
	{{ onChangeSuffix := "" }}
	if componentSettings.OnChangeFunc != "" {
		{{ onChangeSuffix = "; " + componentSettings.OnChangeFunc }}
	}
	{{ labelValueOptionsScriptId := componentSettings.InputName + "LabelValueOptions" }}
	{{ textCaseClass := uiToolset.TextCaseClassResolver(componentSettings.TextCase) }}
	<div
		x-data={ templ.JSFuncCall("multiSelectInput", labelValueOptionsScriptId) }
		class="flex w-full flex-col"
		@click.away="closeDropdown()"
		@keydown.escape.window="closeDropdown()"
	>
		if len(componentSettings.LabelValueOptions) > 0 {
			@templ.JSONScript(labelValueOptionsScriptId, componentSettings.LabelValueOptions)
		}
		<fieldset
			class="bg-neutral-50/7.5 relative -mt-2 w-full rounded border border-neutral-50/5 transition-colors autofill:bg-neutral-50/20 focus-within:border-neutral-50/30 hover:border-neutral-50/30"
			if componentSettings.TwoWayStatePath != "" {
				:class={ `!` + componentSettings.TwoWayStatePath + `.length && 'mt-0'` }
			}
		>
			<legend
				class={ "ml-1 select-none px-1 text-xs font-bold text-neutral-50/80 " + textCaseClass }
				if componentSettings.TwoWayStatePath != "" {
					:class={ `!` + componentSettings.TwoWayStatePath + `.length && 'opacity-0 !p-0 w-0 h-0'` }
				}
			>
				{ componentSettings.Label }
				if componentSettings.IsRequired {
					<span class="text-red-700">*</span>
				}
			</legend>
			<!-- SelectField -->
			<div
				class="group flex w-full cursor-pointer items-center justify-between px-2 pb-2 text-sm text-neutral-100"
				if componentSettings.TwoWayStatePath != "" {
					:class={ `!` + componentSettings.TwoWayStatePath + `.length && 'pt-2'` }
				}
				tabindex="0"
				role="button"
				:aria-expanded="shouldExpandOptions"
				@click="toggleDropdownDisplay()"
				@keydown.enter.prevent="toggleDropdownDisplay()"
				@keydown.space.prevent="toggleDropdownDisplay()"
				@keydown.escape="closeDropdown()"
			>
				{{ formattedSelectedItemsExpression := "selectedItemsDisplayFormatter(" + selectedItemsStatePath + ")" }}
				<div class="w-full overflow-hidden text-ellipsis">
					<span x-show={ formattedSelectedItemsExpression } x-text={ formattedSelectedItemsExpression }></span>
					<span class={ textCaseClass } x-show={ "!(" + formattedSelectedItemsExpression + ")" }>{ componentSettings.Label }</span>
				</div>
				<div class="flex items-center gap-2.5 text-neutral-100/60">
					<!-- SelectDropdownIcon -->
					<i class="ph-bold ph-caret-down pt-0.5 text-sm transition-transform hover:text-neutral-300 group-focus-within:text-neutral-300 group-hover:text-neutral-300" :class="shouldExpandOptions ? 'rotate-180' : ''"></i>
					<!-- SelectClearIcon -->
					<i
						x-show={ selectedItemsStatePath + ".length > 0" }
						@click.stop.prevent={ selectedItemsStatePath + " = []" + onChangeSuffix }
						class="ph-bold ph-x-circle text-lg hover:text-neutral-300"
					></i>
					if shouldRenderInputHintTooltip(componentSettings.HintDisplay, componentSettings.HintValue, componentSettings.HintStatePath) {
						@InputHintTooltip(InputHintSettings{
							Value:                  componentSettings.HintValue,
							StatePath:              componentSettings.HintStatePath,
							TooltipBackgroundColor: componentSettings.HintDisplayTooltipBackgroundColor,
							Size:                   InputHintSizeLg,
							IconStyle:              componentSettings.HintIconStyle,
						})
					}
				</div>
			</div>
			<!-- SelectDropdown -->
			{{ initialDropdownBackgroundColor := "neutral-800/95" }}
			if componentSettings.DropdownBackgroundColor != "" {
				{{ initialDropdownBackgroundColor = componentSettings.DropdownBackgroundColor }}
			}
			<ul
				class={ "absolute left-0 z-10 mt-1 max-h-60 w-full overflow-auto rounded-md border border-neutral-50/5 bg-" + initialDropdownBackgroundColor + " shadow-lg hover:border-neutral-50/30" }
				x-show="shouldExpandOptions"
				x-transition
			>
				{{ dropdownClasses := "cursor-pointer px-3 py-2 transition-colors hover:bg-neutral-50/5 border-neutral-50/5 border-t first:border-t-0" }}
				for _, option := range componentSettings.FlatOptions {
					<li class={ dropdownClasses }>
						<label class="inline-flex w-full cursor-pointer items-center gap-2">
							<span class="text-sm text-neutral-50">{ option }</span>
							@multiSelectInputOptionCheckbox(
								componentSettings.InputId,
								componentSettings.InputName,
								option,
								selectedItemsStatePath,
								componentSettings.OnChangeFunc,
							)
						</label>
					</li>
				}
				for _, option := range componentSettings.LabelValueOptions {
					<li class={ dropdownClasses }>
						<label class="inline-flex w-full cursor-pointer items-center gap-2">
							if option.LabelHtml != nil {
								@option.LabelHtml
							} else {
								<span class="text-sm text-neutral-50">{ option.Label }</span>
							}
							@multiSelectInputOptionCheckbox(
								componentSettings.InputId,
								componentSettings.InputName,
								option.Value,
								selectedItemsStatePath,
								componentSettings.OnChangeFunc,
							)
						</label>
					</li>
				}
			</ul>
		</fieldset>
		if shouldRenderInputHintDescription(componentSettings.HintDisplay) {
			@InputHintDescription(InputHintSettings{
				Value:     componentSettings.HintValue,
				StatePath: componentSettings.HintStatePath,
			})
		}
	</div>
}
