package uiImport

import (
	_ "embed"
	"github.com/goinfinite/ui/src/toolset"
)

templ HeadTagsAtomicCssEngine() {
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset@66.7.5/tailwind-compat.css" integrity="sha256-YmuJOpwODv9JhZSXl17QoPLeBbIhkqZpNt39S++mkdk=" crossorigin="anonymous"/>
	<script src="https://cdn.jsdelivr.net/npm/@unocss/runtime@66.7.5/uno.global.min.js" integrity="sha256-zrkLPNBBcnPlp/2ImSC7r81d5YK3B9OfRWWU7Ol+EEs=" crossorigin="anonymous"></script>
}

templ HeadTagsPhosphorIcons() {
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/bold/style.css" integrity="sha256-yKMt9n+L1X9wxjceFewjLfJd3ro+uQYNeqpoEBps4kA=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/duotone/style.css" integrity="sha256-/G039/D3/9zfcUxUGB/dJ5EZaeRzfTFRuXLUuAblrl0=" crossorigin="anonymous"/>
}

templ HeadTagsGoogleFonts() {
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Mozilla+Headline:wght@200..700&display=swap" rel="stylesheet"/>
}

templ HeadTagsFonts() {
	@HeadTagsGoogleFonts()
	<style>body{font-family:"Lato", "Helvetica Neue", Arial, X-LocaleSpecific, sans-serif}h1,h2,h3,h4,h5,h6{font-family:"Mozilla Headline", "Helvetica Neue", Arial, X-LocaleSpecific, sans-serif;font-weight:bold}</style>
}

templ HeadTagsAlpineJs() {
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.15.12/dist/cdn.min.js" integrity="sha256-532TLFLOYWwqXF3EVTCgIhkRoxqrSKF56GgJMtTTqkc=" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.15.12/dist/cdn.min.js" integrity="sha256-sav73qRAT3EB3ibvbi5l9O+uc757MwIUHuzyfe9oVg4=" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.12/dist/cdn.min.js" integrity="sha256-V7N9fK6aJ9ll/a5K3MhEJF39xAfmVa7oXc//OggDaj8=" crossorigin="anonymous"></script>
}

templ HeadTagsHtmx() {
	<script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha256-cepnGFv6jJjDnTFxfG/OXYUjcPzf0SnbRUN3TTFFwN4=" crossorigin="anonymous"></script>
}

//go:embed toolset.js
var unminifiedToolsetJs string

templ HeadTagsToolset() {
	@uiToolset.MinifierTemplateJs(&unminifiedToolsetJs)
}

templ HeadTagsVega() {
	<script src="https://cdn.jsdelivr.net/npm/vega@6.3.1/build/vega.min.js" integrity="sha256-cL/chLFfEfP7NGmiSvAzFLMiLezk8shhXlQvGD+Pd1o=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@6.4.3/build/vega-lite.min.js" integrity="sha256-NamCHfg4glsFpqc+lBS1h0ehsYMhWDhY7ZA8Zjk6XH4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@7.1.0/build/vega-embed.min.js" integrity="sha256-w2JUJwIZ7uWPubHZVN7K2VT7B7/Jq3gMXUQBvURc1Qw=" crossorigin="anonymous"></script>
}

templ HeadTagsMinimalCss() {
	@HeadTagsAtomicCssEngine()
	@HeadTagsPhosphorIcons()
}

templ HeadTagsFullCss() {
	@HeadTagsMinimalCss()
	@HeadTagsFonts()
}

templ HeadTagsMinimalJs() {
	@HeadTagsAlpineJs()
}

templ HeadTagsFullJs() {
	@HeadTagsToolset()
	@HeadTagsMinimalJs()
	@HeadTagsHtmx()
}

templ HeadTagsMinimal() {
	@HeadTagsMinimalCss()
	@HeadTagsMinimalJs()
}

templ HeadTagsFull() {
	@HeadTagsFullCss()
	@HeadTagsFullJs()
}
