package uiStructural

import (
	uiDisplay "github.com/goinfinite/ui/src/display"
	uiToolset "github.com/goinfinite/ui/src/toolset"
)

const (
	CardShadowSizeNone string = "none"
	CardShadowSizeXs   string = "xs"
	CardShadowSizeSm   string = "sm"
	CardShadowSizeMd   string = "md"
	CardShadowSizeLg   string = "lg"
	CardShadowSizeXl   string = "xl"

	CardRingThicknessXs string = "xs"
	CardRingThicknessSm string = "sm"
	CardRingThicknessMd string = "md"
	CardRingThicknessLg string = "lg"
	CardRingThicknessXl string = "xl"

	CardPaddingSizeNone string = "none"
	CardPaddingSizeXs   string = "xs"
	CardPaddingSizeSm   string = "sm"
	CardPaddingSizeMd   string = "md"
	CardPaddingSizeLg   string = "lg"
	CardPaddingSizeXl   string = "xl"

	CardGapSizeNone string = "none"
	CardGapSizeXs   string = "xs"
	CardGapSizeSm   string = "sm"
	CardGapSizeMd   string = "md"
	CardGapSizeLg   string = "lg"
	CardGapSizeXl   string = "xl"
)

type CardSettings struct {
	MiddleContent templ.Component

	// OptionalFields
	ActionsContent                  templ.Component
	BackgroundColor                 string
	BorderRadius                    string
	FooterContent                   templ.Component
	GapSize                         string
	HeaderContent                   templ.Component
	HeaderIcon                      string
	HeaderIconBackgroundColor       string
	HeaderIconBorderRadius          string
	HeaderIconColor                 string
	HeaderIconPaddingSize           string
	HeaderIconPosition              string
	HeaderSize                      string
	HeaderSubHeading                string
	HeaderSubHeadingColor           string
	HeaderSubHeadingOneWayStatePath string
	HeaderTitle                     string
	HeaderTitleColor                string
	HeaderTitleOneWayStatePath      string
	PaddingSize                     string
	RingColor                       string
	RingThickness                   string
	ShadowSize                      string
	TextCase                        string
	TextColor                       string
}

templ Card(componentSettings CardSettings) {
	<!-- Card -->
	{{ backgroundColor := uiToolset.BackgroundColorClassResolver(componentSettings.BackgroundColor, "bg-neutral-950/20") }}
	{{ textColor := uiToolset.TextColorClassResolver(componentSettings.TextColor, "") }}
	{{ gapClasses := uiToolset.GapClassResolver(componentSettings.GapSize, "gap-3") }}
	{{ cardClasses := "flex flex-col " + gapClasses + " " + backgroundColor + " " + textColor }}
	{{ cardClasses += " " + uiToolset.PaddingClassResolver(componentSettings.PaddingSize, "p-5") }}
	{{ cardClasses += " " + uiToolset.BorderRadiusClassResolver(componentSettings.BorderRadius, "rounded-lg") }}
	{{ cardClasses += " " + uiToolset.ShadowClassResolver(componentSettings.ShadowSize, "") }}
	{{ cardClasses += " " + uiToolset.RingClassResolver(componentSettings.RingColor, componentSettings.RingThickness) }}
	{{ hasHeaderBlockContent := componentSettings.HeaderTitle != "" || componentSettings.HeaderTitleOneWayStatePath != "" || componentSettings.HeaderSubHeading != "" || componentSettings.HeaderSubHeadingOneWayStatePath != "" || componentSettings.HeaderIcon != "" || componentSettings.ActionsContent != nil }}
	<div class={ cardClasses }>
		if componentSettings.HeaderContent != nil {
			<!-- CardCustomHeader -->
			@componentSettings.HeaderContent
		}
		if componentSettings.HeaderContent == nil && hasHeaderBlockContent {
			<!-- CardHeader -->
			@uiDisplay.HeaderBlock(uiDisplay.HeaderBlockSettings{
				ActionsContent:                  componentSettings.ActionsContent,
				HeaderIcon:                      componentSettings.HeaderIcon,
				HeaderIconBackgroundColor:       componentSettings.HeaderIconBackgroundColor,
				HeaderIconBorderRadius:          componentSettings.HeaderIconBorderRadius,
				HeaderIconColor:                 componentSettings.HeaderIconColor,
				HeaderIconPaddingSize:           componentSettings.HeaderIconPaddingSize,
				HeaderIconPosition:              componentSettings.HeaderIconPosition,
				HeaderSize:                      componentSettings.HeaderSize,
				HeaderSubHeading:                componentSettings.HeaderSubHeading,
				HeaderSubHeadingColor:           componentSettings.HeaderSubHeadingColor,
				HeaderSubHeadingOneWayStatePath: componentSettings.HeaderSubHeadingOneWayStatePath,
				HeaderTitle:                     componentSettings.HeaderTitle,
				HeaderTitleColor:                componentSettings.HeaderTitleColor,
				HeaderTitleOneWayStatePath:      componentSettings.HeaderTitleOneWayStatePath,
				HeadingLevel:                    uiDisplay.HeaderBlockHeadingLevelTwo,
				TextCase:                        componentSettings.TextCase,
			})
		}
		<!-- CardMiddleContent -->
		@componentSettings.MiddleContent
		if componentSettings.FooterContent != nil {
			<!-- CardFooterContent -->
			@componentSettings.FooterContent
		}
	</div>
}
